<section id="about" class="s-about target-section">


    <!-- stats -->
    <div class="row block-lg-one-fourth block-tab-one-half block-stack s-about__stats">

        <div class="column s-about__stats-item">
            <div class="s-about__stats-count">5.4<span>m</span></div>
            <h5>Total Downloads</h5>
        </div>
        <div class="column s-about__stats-item">
            <div class="s-about__stats-count">1.1<span>m</span></div>
            <h5>Daily Users</h5>
        </div>
        <div class="column s-about__stats-item">
            <div class="s-about__stats-count">93<span>%</span></div>
            <h5>Positive Rating</h5>
        </div>
        <div class="column s-about__stats-item">
            <div class="s-about__stats-count">2.3<span>m</span></div>
            <h5>Happy Users</h5>
        </div>

    </div> <!-- end stats -->
    <!-- intro info -->
    <div class="s-about__info">

        <div class="row section-header" data-num="01">
            <div class="column lg-6 stack-on-1000 title-block">
                <h2 class="title text-display-1">Getting Started With Aurora VPN.</h2>
            </div>
            <div class="column lg-6 stack-on-1000 desc-block">
                <p class="desc lead">
                    Aurora VPN , The most stable vpn connection between all vpn services .
                    Enjoy from free world with best experiences !
                </p>
            </div>
        </div>

        <div class="row s-about__info-slider-block">
            <div class="column lg-12">

                <div class="swiper-container s-about__info-slider">
                    <div class="swiper-wrapper">

                        <div class="s-about__info-slide swiper-slide">
                            <h4 class="h5">Smart.</h4>

                            <p>
                                Smart connection !<br/> It will recognize the best location for your connection to experience the best !
                            </p>
                        </div>  <!-- end s-about__info-slide  -->

                        <div class="s-about__info-slide swiper-slide">
                            <h4 class="h5">User-Friendly.</h4>

                            <p>
                                Beautiful and friendly user interface with nice dark style and by the regular updates you can be sure that you always 
                                experiencing up to date UI !
                            </p>
                        </div>  <!-- end s-about__info-slide  -->

                        <div class="s-about__info-slide swiper-slide">
                            <h4 class="h5">Gaming Mode.</h4>

                            <p>
                               By the gaming mode option you can connect to best locations with the best stable ping and service reduces lags and packet losses !
                            </p>
                        </div>  <!-- end s-about__info-slide  -->

                        <div class="s-about__info-slide swiper-slide">
                            <h4 class="h5">Secure.</h4>

                            <p>
                                With Aurora vpn you always will be anonymous and no one can track you down in world wide web ! you can be sure
                                about that the vpn provider doesn't collect any data of you and your system !
                            </p>
                        </div>  <!-- end s-about__info-slide  -->

                    </div> <!-- swiper-wrapper -->

                    <div class="swiper-pagination"></div>

                </div> <!-- end swiper-container -->

            </div>
        </div> <!-- end s-about__info-slider-block -->

    </div> <!-- end s-about__info -->
    <!-- screens -->
    <div class="row s-about__screens-block">
        <div class="column lg-12">

            <div class="s-about__screens">
                <div class="s-about__screen">
                    <img src="images/screens/screen-03.png"
                         srcset="images/screens/screen-03.png 1x, images/screens/screen-03@2x.png 2x" alt="Pic3">
                </div>
                <div class="s-about__screen">
                    <img src="images/screens/screen-02.png"
                         srcset="images/screens/screen-02.png 1x, images/screens/screen-02@2x.png 2x" alt="Pic2">
                </div>
                <div class="s-about__screen">
                    <img src="images/screens/screen-01.png"
                         srcset="images/screens/screen-01.png 1x, images/screens/screen-01@2x.png 2x" alt="Pic1">
                </div>
            </div>

        </div>
    </div> <!-- end screens -->
    <!-- how-to -->
    <div class="s-about__howto">

        <div class="row section-header" data-num="02">
            <div class="column lg-12 title-block">
                <h2 class="title text-display-1">How the App Works.</h2>
            </div>
        </div>

        <div class="row s-about__howto-content">

            <div class="column s-about__howto-process-block">

                <div class="s-about__howto-process">
                    <div class="s-about__howto-process-step">
                        <h3 class="h5">Sign Up</h3>
                        <p>
                           You can signing up as simple as drinking water ! <br/> Just click on sign up button and fill the required fields
                        </p>
                    </div>
                    <div class="s-about__howto-process-step">
                        <h3 class="h5">Sign in</h3>
                        <p>
                           Just click on sign in button and enter your credentials !
                        </p>
                    </div>
                    <div class="s-about__howto-process-step">
                        <h3 class="h5">Connect</h3>
                        <p>
                            You can connect to a specific location server or just simply tap to connect in order to connecting automatically !
                        </p>
                    </div>
                    <div class="s-about__howto-process-step">
                        <h3 class="h5">Game Mode</h3>
                        <p>
                            Open left side panel and click on game mode button then if you prefer a specific connection type then click on it but
                            if you let the app decide which server you connect then you can be sure about that the server you connected is the best 
                            server with the lowest latency and packet loss !
                        </p>
                    </div>
                </div> <!-- end how-to process -->

            </div>

            <div class="column s-about__howto-screens-block">

                <div class="s-about__howto-screens">
                    <img src="images/screens/screen-01.png"
                         srcset="images/screens/screen-01.png 1x, images/screens/screen-01@2x.png 2x" alt="">
                    <img src="images/screens/screen-04.png"
                         srcset="images/screens/screen-04.png 1x, images/screens/screen-04@2x.png 2x" alt="">
                </div>

            </div>

        </div>

    </div> <!-- end how-to -->
    <!-- features -->
    <div class="s-about__features">

        <div class="row section-header" data-num="03">
            <div class="column lg-6 stack-on-1000 title-block">
                <h2 class="title text-display-1">The Best Features of The App.</h2>
            </div>
            <div class="column lg-6 stack-on-1000 desc-block">
                <p class="desc lead">
                    As we talk through , the  Aurora VPN is one the best vpn services that can provide you a context in order to connect to the free internet !
                </p>
            </div>
        </div>

        <div class="row s-about__feature-list block-lg-one-third">

            <div class="column s-about__feature-item">
                <div class="s-about__feature-icon-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M18.944 11.112C18.507 7.67 15.56 5 12 5 9.244 5 6.85 6.611 5.757 9.15 3.609 9.792 2 11.82 2 14c0 2.757 2.243 5 5 5h11c2.206 0 4-1.794 4-4a4.01 4.01 0 0 0-3.056-3.888zM18 17H7c-1.654 0-3-1.346-3-3 0-1.404 1.199-2.756 2.673-3.015l.581-.102.192-.558C8.149 8.274 9.895 7 12 7c2.757 0 5 2.243 5 5v1h1c1.103 0 2 .897 2 2s-.897 2-2 2z"></path></svg>
                </div>
                <div class="s-about__feature-text">
                    <h3 class="h5">Lowest Latency</h3>
                    <p>
                       You will be experiencing the lowest possible latency !
                    </p>
                </div>
            </div>

            <div class="column s-about__feature-item">
                <div class="s-about__feature-icon-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M18 7c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-3.333L22 17V7l-4 3.333V7zm-1.998 10H4V7h12l.001 4.999L16 12l.001.001.001 4.999z"></path></svg>
                </div>
                <div class="s-about__feature-text">
                    <h3 class="h5">No Buffering</h3>
                    <p>
                        You can experience the best video quality with no buffering !
                    </p>
                </div>
            </div>

            <div class="column s-about__feature-item">
                <div class="s-about__feature-icon-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M20.995 6.9a.998.998 0 0 0-.548-.795l-8-4a1 1 0 0 0-.895 0l-8 4a1.002 1.002 0 0 0-.547.795c-.011.107-.961 10.767 8.589 15.014a.987.987 0 0 0 .812 0c9.55-4.247 8.6-14.906 8.589-15.014zM12 19.897C5.231 16.625 4.911 9.642 4.966 7.635L12 4.118l7.029 3.515c.037 1.989-.328 9.018-7.029 12.264z"></path><path d="m11 12.586-2.293-2.293-1.414 1.414L11 15.414l5.707-5.707-1.414-1.414z"></path></svg>
                </div>
                <div class="s-about__feature-text">
                    <h3 class="h5">Always Secure</h3>
                    <p>
                       You can always be anonymous !
                    </p>
                </div>
            </div>

            <div class="column s-about__feature-item">
                <div class="s-about__feature-icon-block">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" style="fill: rgba(0, 0, 0, 1);"><path d="M22 8.65A5 5 0 0 0 17 4H7a5 5 0 0 0-5 4.74A2 2 0 0 0 2 9v7.5A3.48 3.48 0 0 0 5.5 20c1.43 0 2.32-1.06 3.19-2.09.32-.37.65-.76 1-1.1a4.81 4.81 0 0 1 1.54-.75 6.61 6.61 0 0 1 1.54 0 4.81 4.81 0 0 1 1.54.75c.35.34.68.73 1 1.1.87 1 1.76 2.09 3.19 2.09a3.48 3.48 0 0 0 3.5-3.5V9a2.09 2.09 0 0 0 0-.26zm-2 7.85a1.5 1.5 0 0 1-1.5 1.5c-.5 0-1-.64-1.66-1.38-.34-.39-.72-.85-1.15-1.26a6.68 6.68 0 0 0-2.46-1.25 6.93 6.93 0 0 0-2.46 0 6.68 6.68 0 0 0-2.46 1.25c-.43.41-.81.87-1.15 1.26C6.54 17.36 6 18 5.5 18A1.5 1.5 0 0 1 4 16.5V9a.77.77 0 0 0 0-.15A3 3 0 0 1 7 6h10a3 3 0 0 1 3 2.72v.12A.86.86 0 0 0 20 9z"></path><circle cx="16" cy="12" r="1"></circle><circle cx="18" cy="10" r="1"></circle><circle cx="16" cy="8" r="1"></circle><circle cx="14" cy="10" r="1"></circle><circle cx="8" cy="10" r="2"></circle></svg>
                </div>
                <div class="s-about__feature-text">
                    <h3 class="h5">Play Games</h3>
                    <p>
                       Best possible conditions to play your favourite game with your friends !
                    </p>
                </div>
            </div>

            <div class="column s-about__feature-item">
                <div class="s-about__feature-icon-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M16 12h2v4h-2z"></path><path d="M20 7V5c0-1.103-.897-2-2-2H5C3.346 3 2 4.346 2 6v12c0 2.201 1.794 3 3 3h15c1.103 0 2-.897 2-2V9c0-1.103-.897-2-2-2zM5 5h13v2H5a1.001 1.001 0 0 1 0-2zm15 14H5.012C4.55 18.988 4 18.805 4 18V8.815c.314.113.647.185 1 .185h15v10z"></path></svg>
                </div>
                <div class="s-about__feature-text">
                    <h3 class="h5">Payments</h3>
                    <p>
                        Pay with all credit and debit card !
                    </p>
                </div>
            </div>

        </div> <!-- end features-list -->

    </div> <!-- end features -->

</section> <!-- end s-about -->