<section id="download" class="s-download target-section">
    <div class="row s-download__header">
        <div class="column lg-12">
            <h2 class="text-display-1">Thousands of People Are Now Using Booth. Join Our Community!</h2>
            <p class="lead">
                Et nihil atque ex. Reiciendis et rerum ut voluptate. Omnis molestiae nemo est.
                Ut quis enim rerum quia assumenda repudiandae non cumque qui. Amet repellat
                omnis ea. Ultrices pellentesque amet tristique feugiat condimentum integer fames.
            </p>
        </div>
    </div>
    <div class="row s-download__badges-block">
        <div class="column lg-12 s-download__badges">
            <a href="#0" title="" class="badge-appstore">
                <img src="images/appstore.png" alt="">
            </a>
            <a href="#0" title="" class="badge-googleplay">
                <img src="images/google-play.png" alt="">
            </a>
        </div>
    </div>
</section>