<div class="row s-header__inner">

    <div class="s-header__block">
        <div class="s-header__logo">
            <a class="logo" href="index.html">
                <img src="images/logo.svg" alt="Homepage">
            </a>
        </div>

        <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
    </div> <!-- end s-header__block -->

    <nav class="s-header__nav">
        <partial name="_TopBarNavItems" />
    </nav>

    <div class="s-header__cta">
        <a href="#download" class="btn btn--stroke s-header__cta-btn smoothscroll">Get The App</a>
    </div>

</div> <!-- end s-header__inner -->