
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

    <!--- basic page needs
    ================================================== -->
    <partial name="_Meta" />

    <!-- CSS
    ================================================== -->
    <partial name="_Css" />

    <!-- favicons
    ================================================== -->
    <partial name="_FavIcons" />

</head>


<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
        </div>
    </div>

    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap">


        <!-- # site header
        ================================================== -->
        <header class="s-header">

            <partial name="_Header" />

        </header> <!-- end s-header -->
        <!-- # site-content
        ================================================== -->
        <section id="content" class="s-content">
            @RenderBody()

            <!-- intro
            ----------------------------------------------- -->
            <partial name="_Intro" />

            <!-- about
            ----------------------------------------------- -->
            <partial name="_About" />

            <!-- testimonials
            ----------------------------------------------- -->
            <partial name="_Testimonials" />

            <!-- pricing
            ----------------------------------------------- -->
            <partial name="_Pricing" />

            <!-- download
            ----------------------------------------------- -->
            <partial name="_Download" />

        </section> <!-- end s-content -->
        <!-- # site-footer
        ================================================== -->
        <partial name="_Footer" />
    </div>
    <!-- Java Script
    ================================================== -->
    <partial name="_Scripts" />
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>