<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Aurora VPN</title>

<script>
    document.documentElement.classList.remove('no-js');
    document.documentElement.classList.add('js');
</script>