<form asp-action="SubscribeNewsletter" method="post">
    <input type="email" name="emailAddress" class="u-fullwidth text-center" placeholder="Your Email Address" required>
    <input type="submit" value="Subscribe" class="btn btn--primary u-fullwidth">
</form>