<section id="pricing" class="s-pricing target-section">
    <div class="row s-pricing__content">

        <div class="column lg-4 md-12 s-pricing__header">
            <h3 class="h2">Our Easy Pricing Plans for Everyone.</h3>
            <p>
                We always care about our users so we priced fairly !
            </p>
        </div> <!-- end s-pricing__header -->

        <div class="column lg-8 md-12 s-pricing__plans">
            <div class="row plans block-lg-one-half block-tab-whole">

                <div class="column item-plan item-plan--popular">
                    <div class="item-plan__block">

                        <div class="item-plan__top-part">
                            <h3 class="item-plan__title">Pro Plan</h3>
                            <p class="item-plan__price"><sup>$</sup>4.99</p>
                            <p class="item-plan__per">Per Month</p>
                        </div>

                        <div class="item-plan__bottom-part">
                            <ul class="item-plan__features">
                                <li><span>+150</span> Locations</li>
                                <li><span>Unlimited</span> Bandwidth</li>
                                <li><span>Game Mode</span> Option</li>
                                <li>Anonymous</li>
                            </ul>

                            <a class="btn btn--primary u-fullwidth" href="#0">Get Started</a>
                        </div>

                    </div>
                </div> <!-- end item-plan -->
                <div class="column item-plan">
                    <div class="item-plan__block">

                        <div class="item-plan__top-part">
                            <h3 class="item-plan__title">Free</h3>
                            <p class="item-plan__price"><sup>$</sup>0</p>
                            <p class="item-plan__per">Forever</p>
                        </div>

                        <div class="item-plan__bottom-part">
                            <ul class="item-plan__features">
                                <li><span>15</span> Location</li>
                                <li><span>10GB</span> Bandwidth (Per Month)</li>
                                <li>Non Anonymous</li>
                            </ul>

                            <a class="btn btn--primary u-fullwidth" href="#0">Get Started</a>
                        </div>

                    </div>
                </div> <!-- end item-plan -->
            </div>
        </div> <!-- end s-pricing__plans -->

    </div> <!-- end s-pricing__content -->
</section> <!-- end pricing -->