<section id="testimonials" class="s-testimonials">

    <div class="row narrow text-center s-testimonials__header">
        <div class="column lg-12">
            <h3 class="h2">What Our Users Have To Say.</h3>
        </div>
    </div>

    <div class="row s-testimonials__content">
        <div class="column lg-12">

            <div class="swiper-container s-testimonials__slider">

                <div class="swiper-wrapper">

                    <div class="s-testimonials__slide swiper-slide">
                        <div class="s-testimonials__author">
                            <img src="images/avatars/user-02.jpg" alt="Author image" class="s-testimonials__avatar">
                            <cite class="s-testimonials__cite">
                                <strong>James Singleton</strong>
                                <span>CEO , AuroraVPN</span>
                            </cite>
                        </div>
                        <p>
                            AuroraVPN is what users need in this time , you can feel the differences of it and other apps in first use !
                        </p>
                    </div> <!-- end s-testimonials__slide -->

                    <div class="s-testimonials__slide swiper-slide">
                        <div class="s-testimonials__author">
                            <img src="images/avatars/user-03.jpg" alt="Author image" class="s-testimonials__avatar">
                            <cite class="s-testimonials__cite">
                                <strong>Kevin Young</strong>
                                <span>CO CEO, AuroraVPN</span>
                            </cite>
                        </div>
                        <p>
                           We are exited about what we made !
                        </p>
                    </div> <!-- end s-testimonials__slide -->

                    <div class="s-testimonials__slide swiper-slide">
                        <div class="s-testimonials__author">
                            <img src="images/avatars/user-01.jpg" alt="Author image" class="s-testimonials__avatar">
                            <cite class="s-testimonials__cite">
                                <strong>Josef Kalahhan</strong>
                                <span>Sale CEO, AuroraVPN</span>
                            </cite>
                        </div>
                        <p>
                            We made a fantastic application that downloaded over 5 million times till yet ! we really happy about that users find this app useful !
                        </p>
                    </div> <!-- end s-testimonials__slide -->

                    <div class="s-testimonials__slide swiper-slide">
                        <div class="s-testimonials__author">
                            <img src="images/avatars/user-06.jpg" alt="Author image" class="s-testimonials__avatar">
                            <cite class="s-testimonials__cite">
                                <strong>Jason Seed</strong>
                                <span>Marketing CEO, AuroraVPN</span>
                            </cite>
                        </div>
                        <p>
                            AuroraVPN is exactly what users want ! 
                        </p>
                    </div> <!-- end s-testimonials__slide -->

                </div> <!-- end swiper-wrapper -->

                <div class="swiper-pagination"></div>

            </div> <!-- end swiper-container -->

        </div> <!-- end column -->
    </div> <!-- end s-testimonials__content -->

</section> <!-- end testimonials -->