<ul>
    <li class="current"><a href="#intro" class="smoothscroll">Intro</a></li>
    <li><a href="#about" class="smoothscroll">About</a></li>
    <li><a href="#pricing" class="smoothscroll">Pricing</a></li>
    <li><a href="#download" class="smoothscroll">Download</a></li>
</ul>